<main class="animate__animated animate__fadeIn index">
    <header class="masthead d-flex">
        <div class="container text-center mx-auto">      
            <br><br><br><br><br><br><br><br><br>
        <h1 style="color: #FFFFFF;">LandingSpa juan es puto </h1>    
        <h3 style="color: #FFFFFF;">v0.1</h3>              
        <br>
            <a href="/site/main" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"><i class="fas fa-door-open"></i> Ingresar al sitio</a>
        </div>
    </header>
</main>